<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prism</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var vchainId = <%- vchainId %>;
    </script>
    <body>
        <div class="container">
            <div id="app">Loading...</div>
        </div>
    <% if(process.env.NODE_ENV === 'production') { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.production.min.js"></script>
        
        <% if (process.env.GOOGLE_ANALYTICS_KEY) { %>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_KEY %>"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '<%= process.env.GOOGLE_ANALYTICS_KEY %>');
            </script>
        <% } %>
    <% } else { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.development.js"></script>
    <% } %>
		<script type="text/javascript" src="<%- manifest['vendors.js'] %>"></script>
		<script type="text/javascript" src="<%- manifest['main.js'] %>"></script>
</body>
</html>